ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.categories-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cards-container {
    width: auto;
}

.products-container{
    margin-top: 10px;
}

.product-wrapper{
    border-radius: 15px;
    border: 2px solid skyblue;
    padding: 1rem .5rem;
    width: 300px;
    height: auto;
    margin: 1rem 1rem;
}
.product-image{
    align-items: center;
    border-bottom: 1px solid skyblue;
    display: flex;
    width: auto;
    height: 250px;
    justify-content:center;
    position: relative;
}

.product-image img{
    display: block;
    height: 80%;
    margin: 0 auto;
    object-fit: contain;
    width: 50%;
}

.footer{
    width: 100vh;
    background-color: skyblue;
    height: 300px;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer h1{
    text-align: center;
    font-weight: bolder;
}

@media (min-width: 700px) { 

    .cards-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
    }

    
    .products-container{
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .product-wrapper{
        width: 40%;
    }
   
 }
