.login-wrapper{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    border-radius: 12px;
    border: 1px solid #0d6efd;
    width: 40%;
    height: 60vh;
    text-align: center;
    padding: 30px 0;
}

.login-container h1{
    font-weight: bolder;
    color: #0d6efd;
}

.testData-container{
    background-color: #d8f5fd;
    width: 50%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px;
    color: white;
}


.form-container{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    text-align: start;
    gap: 7px;
}


/* ---------USER-------- */

.login-user-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-container div {
    margin-top: 15px;
}

.image-container img {
    width: 200px;
    height: auto;
}


@media (min-width: 700px) {
    .login-container {
        max-width: 50%;
    }

 }

