.nav-container {
    background-color: white;
    display: flex;
    height: 80px;
    justify-content: space-between; 
    position: sticky;
}

.list-navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.list-navbar li {
    margin-right: 80px;
}

.logo h1{
    margin-top: 15px;
    font-weight: bolder;
    color: white;
}


