.product-detail-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.cards-container {
    list-style: none;
}

.product-data {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.image-options {
    position: relative;
    display: flex;
    justify-content: center;
}

.image-options div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.button-container {
    height: 289px !important;
}

.button-container button {
    border: none;
    background-color: #0081cf;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.image-options img {
    min-width: 200px;
    max-width: 300px;
    height: auto;

}

.image-subOptions {
    display: none;
}

.image-subOptions img {
    width: 80px;
    height: auto;
}


.product-options * { 
    margin-top: 10px;
}

.product-options h2 {
    font-size: 1.2rem;
}

.product-options p {
    font-size: 0.8rem;
}


.product-options div button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 2px;
    height: 30px;
    width: 25px;
}

.options-subdata-1 p span{
    color: gray;
}

.options-subdata-2 span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 1px solid rgb(197, 197, 197);
}

.options-subdata {
    display: flex;
    justify-content: space-around;
}

.input-container input {
    width: 50px;
    border: 1px solid lightgray;
    height: 30px;
    text-align: center;
}




@media (min-width: 700px) { 

    .image-subOptions {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .product-container-principal {
        display: flex;
    }

    .product-options {
        max-width: 40%;
    }

    .suggestions {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* .product-wrapper {
        margin: 30px 30px;
    } */


 }