.App {
  margin: auto;
  min-height: 100vh;
  width: 100%;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: whitesmoke;
}

.footer{
  width: 100%;
  background-color: #0d6efd;
  height: 100px;
  color: white;
  margin-top: 50px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.footer h3{
  text-align: center;
  font-weight: bolder;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
}